
.introimage{
          position: absolute;
            z-index: 2;
            background-color: rgba(255, 255, 255, 0.9);
            background-image:  url('image.jpg');
            border-radius: 10px;
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            padding: 200px;
            left: 70%;
            animation: fadeIn 1.0s ease-in-out;
}

.textintro{
    display: flex;
    padding-left: 15%;
    margin-top: 10%;
    gap: 1%;
    
}
.kali{
    
    padding-left: 15%;
    margin-top: 30px;
    color: #999;
    
}
.objectif-container{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding-left: 15%;
   
}
.objectif{
    color: #999;
   
}
.section-dernier{
    margin-top: 15%;
    
}
.dernier{
    text-align: center;
}

.button-Vd{
   position: relative;
   left: 15%;
   padding: 8px 20px;
   border-radius: 10px;
   background-color: purple;
   color: white;
}